body{
	margin: 0!important;
	max-width: 100vw;
	background-color: rgb(218, 241, 255)!important;
	}
	.navtop {
	
	background-color:#023e8a!important;
	height: 60px;
	width: 100vw;
	border: 0;
	}
	.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
	}
	.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
	}
	.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
	}
	.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	}
	.navtop div a i {
	padding: 2px 8px 0 0;
	}
	.navtop div a:hover {
	color: #eaebed;
	}
	body.loggedin {
	background-color:rgb(229, 248, 255);
	}
	.content {
	width: 80%;
	margin: 50px;
	}
	.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #0f0f0f;
	font-weight:bold;
	}
	.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	color:white;
	margin: 25px 0;
	padding: 25px;
	width:90vw;
	background-color: #023e8a;
	border-radius:15px;
	}
	.content > p table td, .content > div table td {
	padding: 5px;
	}
	.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: white;
	padding-right: 15px;
	}
	.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
	color:white;
	}
	/* Classroom Card */
	.card {
	box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
	transition: 0.3s;
	width: 20%;
	margin-left: 10vw;
	display:inline-block;
	  }
	  .card:hover {
	box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
	  }

.classroomcard{
	background-color: rgb(240, 249, 255)!important;
	border-radius: 15px!important;
	margin-bottom: 15px;
}
.card-body{
	padding:1vw;
}

.popUp-msg , .text-mode-img , .share-preview-container  {
	display: none!important;
}